@keyframes baseLoadingAnimation {
  from {
    opacity: 0;
    top: 0%;
  }
  50% {
    top: 20%;
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15px);
  }
}
