:root {
  --background-color: #000000;
  --auth-main-background-color: rgba(0, 0, 0, 0.335);
  --auth-border-color: white;
  --auth-main-shadow-color: rgba(255, 255, 255, 0.2);
  --text-color: white;
}
