main {
  position: absolute;
  width: 30vw;
  left: 60%;
  height: 80vh;
  translate: -50%;
  top: 10%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 23px 12px var(--auth-main-shadow-color);
  -moz-box-shadow: 5px 5px 23px 12px var(--auth-main-shadow-color);
  box-shadow: 5px 5px 23px 12px var(--auth-main-shadow-color);
  background-color: var(--auth-main-background-color);
  border: 1px solid var(--auth-border-color);
}
.follow-list {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.follow-list::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
.follow-list::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: white;
}

.follow-list::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0.605);
}

.follow-list::-webkit-scrollbar-track:active {
  background-color: gray;
}
