button {
  width: 8vw;
  height: 4vh;
  border-radius: 15px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }
}
.main {
  background-color: white;
  color: black;
}
.alt {
  border: 1px solid white;
  color: white;
}
