@import "./colors.css";
@import "./animation.css";

nav {
  position: absolute;
  width: 15vw;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 5%;
  top: 35%;
  border-radius: 12px;
  background-color: var(--auth-main-background-color);
  border: 1px solid var(--auth-border-color);
}
