main {
  position: absolute;
  width: 40vw;
  left: 50%;
  translate: -50%;
  top: 15%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 23px 12px var(--auth-main-shadow-color);
  -moz-box-shadow: 5px 5px 23px 12px var(--auth-main-shadow-color);
  box-shadow: 5px 5px 23px 12px var(--auth-main-shadow-color);
  background-color: var(--auth-main-background-color);
  animation-name: baseLoadingAnimation;
  animation-duration: 2s;
  animation-iteration-count: initial;
  border: 1px solid var(--auth-border-color);
}
